PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/nexoria
JWT_SECRET=nexoria_jwt_super_secret_key_2026
NODE_ENV=development

# Nodemailer / Contact Form Email Setup (e.g. Gmail App Password, Mailgun, SendGrid)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password
CONTACT_RECEIVER_EMAIL=your_inbox@gmail.com
